/* Import Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Define global variables */
:root {
    --primary-color: #00FF7F;
    --text-color: #ffffff;
    --primary-bg-color: #1f242d;
    --secondary-bg-color: #323946;
    --shadow-dark: rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Remove underlines from links */
a {
    text-decoration: none;
  }
  

html {
    font-size: 80%;
    overflow-x: hidden;
}

body {
     background-color: var(--primary-bg-color); 
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* navbar styles */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    background: var(--primary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    width: 30px;
    cursor: default;  
    
}

.navbar li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 1.4rem;
    margin-left: 4rem;
    transition: .3s;
}

.navbar li a{
    color: var(--text-color);
}

.navbar li a:hover, 
.navbar .active {
    color: var(--primary-color);
}

#menu-icon{
    font-size: 3rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.home-content h3{
    font-size: 2.5rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--primary-color);
}

.home-content h1{
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.3rem;
}

.home-img img{
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
        
    }
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: transparent;
    border: .2rem solid var(--primary-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--primary-color);
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover{
    background: var(--primary-color);
    color: var(--secondary-bg-color);
    box-shadow: 0 0 1rem var(--primary-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--primary-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--primary-color);
    font-size: 1.2rem;
    color: var(--secondary-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    box-shadow: none;
}

/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--secondary-bg-color);

}
.about-img img{
    width: 25vw;
    height: 30vw;
    border-radius: 3rem;
}
.heading{
    text-align: center;
    font-size: 4.3rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.4rem;
}
.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

/* education */
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;

}
.education-column .title{
    font-size: 2.3rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--primary-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--primary-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;

}
.education-content .content .year{
    font-size: 1.3rem;
    color: var(--primary-color);
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 1.8rem;
}
.education-content .content p{
    font-size: 1.4rem;
}

/* skills */

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--secondary-bg-color);   
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.2rem;
    margin: 0 0 1.5rem;
}
.skill-box .skill-content{
    position: relative;
    border: .2rem solid var(--primary-color);
    border-radius: .6rem;
    padding: .2rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skill-box .skill-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--primary-bg-color);
    z-index: -1;
    transition: .5s;
}
.skill-box .skill-content:hover::before{
    width: 100%;
}
.skill-content .progress{
    padding: 1rem 0;
}
.skill-content .progress h3{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;

}
.skill-content .progress h3 span{
    color: var(--text-color);
}
.skill-content .progress .bar{
    height: 1.5rem;
    border-radius: 1rem;
    border: .3rem solid var(--primary-color);
    padding: .2rem;
    margin: 1rem 0;
}
.skill-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .5rem;
    background: var(--primary-color);

}
.skills-column:nth-child(1) .skill-content .progress:nth-child(1) .bar span{
    width: 90%;
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(2) .bar span{
    width: 60%;
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(3) .bar span{
    width: 20%;
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(4) .bar span{
    width: 40%;
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(5) .bar span{
    width: 40%;
}
.skills-column:nth-child(1) .skill-content .progress:nth-child(6) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(1) .bar span{
    width: 50%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(2) .bar span{
    width: 70%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(3) .bar span{
    width: 20%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(4) .bar span{
    width: 30%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(5) .bar span{
    width: 20%;
}
.skills-column:nth-child(2) .skill-content .progress:nth-child(6) .bar span{
    width: 10%;
}

/* contacts */
.contact{
    min-height: auto;
    padding-bottom: 7rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input, 
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--primary-color);
}
.contact form .input-box .input-field input::placeholder, 
.contact form .textarea-field textarea::placeholder {
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--secondary-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;

}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}

/* footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--secondary-bg-color);
}
.footer-text p{
    font-size: 1.3rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--primary-color);
    border: .2rem solid var(--primary-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--secondary-bg-color);
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.1rem;
    color: var(--primary-bg-color);
    transition: .5s;
}
.footer-iconTop a:hover i{
    color: var(--primary-color);
}

/* breakpoints */

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .contact form .input-box{
        position: relative;
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .contact form .input-box .input-field{
        position: relative;
        width: 100%;
        margin: .8rem 0;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%; 
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .contact form .input-box{
        position: relative;
        display: block;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .contact form .input-box .input-field{
        position: relative;
        width: 100%;
        margin: .8rem 0;
    }
    .footer{
        padding: 2rem 3%;
    }
} 
@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--primary-bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar li{
        text-align: center;
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.3rem;
    }
    .home-content h1{
        font-size: 4.7rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
     }
}

